#main {
  background-color: #eee;
  margin: 30px 8px 30px 8px;
  padding: 15px;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

#img-caption {
  text-align: center;
  font-size: 16px;
  margin: 16px 0 16px 0;
}

#img-description {
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 130px 0 130px;
  width: 1024px;
  overflow: clip;
}

#tribute-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tribute-title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

ul {
  padding-top: 10px;
}

#tribute-info > ul > li {
  margin: 16px 0 16px 0;
}

.quotes {
  display: flex;
  margin-top: 10px;
}
